   body {
       font-family: Arial, sans-serif;
   }

   .container {
       width: 80%;
       margin: auto;
   }

   .blocks {
       display: flex;
       margin-top: 120px;
       align-items:end;
      
        position: relative;
   
   }

   .block {
       width: 40px;
       height: 40px;
       background-color: #da6714;
       margin: 0 5px;
       
   }

   .water {
       background-color: #3c47e7;
       width:40px;
       height:100px;
    position: absolute;


   }